## Sumit Patel - 40
### Experiment 11

In [39]:
import pandas as pd

In [40]:
data = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data)
print("Series from list:")
print(series_from_list)

Series from list:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [41]:
custom_index = ['a', 'b', 'c', 'd', 'e']
series_with_index = pd.Series(data, index=custom_index)
print("\nSeries with custom indices:")
print(series_with_index)

Series with custom indices:
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [42]:
print("\nAccessing elements:")
print("Element at index 'c':", series_with_index['c'])
print("Element at index 'e':", series_with_index['e'])

Accessing elements:
Element at index 'c': 30
Element at index 'e': 50

In [43]:
print("\nArithmetic Operations:")
print("Series multiplied by 2:")
print(series_with_index * 2)

Arithmetic Operations:
Series multiplied by 2:
a     20
b     40
c     60
d     80
e    100
dtype: int64

In [44]:
print("\nCheck if element is in the Series:")
print("Is 30 in the Series?", 30 in series_from_list.values)
print("Is 60 in the Series?", 60 in series_from_list.values)

Check if element is in the Series:
Is 30 in the Series? True
Is 60 in the Series? False

In [45]:
print("\nSummary Statistics:")
print(series_from_list.describe().round(2))

Summary Statistics:
count     5.00
mean     30.00
std      15.81
min      10.00
25%      20.00
50%      30.00
75%      40.00
max      50.00
dtype: float64

In [46]:
data_with_missing_values = [10, 25, None, 47, 51]
custom_index = ['a', 'b', 'c', 'd', 'e']
series_with_missing_values = pd.Series(data_with_missing_values, index=custom_index)
print("\nSeries with Missing Values:")
print(series_with_missing_values)

Series with Missing Values:
a    10.0
b    25.0
c     NaN
d    47.0
e    51.0
dtype: float64

In [47]:
filled_series = series_with_missing_values.fillna(33)
print("\nFilled missing values with 33:")
print(filled_series)

Filled missing values with 33:
a    10.0
b    25.0
c    33.0
d    47.0
e    51.0
dtype: float64

In [48]:
series_to_list = series_from_list.tolist()
series_to_list2 = filled_series.tolist()
print("\nConverted Series to List:")
print(series_to_list)
print(series_to_list2)

Converted Series to List:
[10, 20, 30, 40, 50]
[10.0, 25.0, 33.0, 47.0, 51.0]